.search-input-content {
  width: calc(100vw - 40px);
  border: 1px solid rgb(224, 224, 224);
  padding: 8px;
  display: flex;
  flex-flow: row;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 4px;
  margin-top: 12px;
  margin-bottom: 4px;
  position: relative;
  z-index: 1;
  animation: slideIn .3s ease-in-out;
}

@media (min-width: 601px) {
  .search-input-content {
    margin-top: 24px;
    width: 540px;
  }
}