* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
}
body {
  overflow: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  font-family: "Montserrat",-apple-system,system-ui,Roboto,Helvetica,Arial,sans-serif;
  width: 100%;
  font-size: 13px;
  color: rgb(33, 33, 33);
  outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #666;
  font-size: 14px;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #666;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #666;
}

@keyframes slideIn {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.list-content {
  width: calc(100vw - 40px) !important;
  margin-top: 20px;
}

table {
  animation: slideIn .3s ease-in-out;
  position: relative;
  font-size: 14px;
}

@media (min-width: 810px) {
  table {
    width: calc(100vw - 40px) !important;
  }
}

@media (max-width: 750px) {
  .list-content {
    overflow-x: scroll;
  }
}

thead {
  color: #909399;
  background: #f5f7fa;
}
tr th {
  min-width: 50px;
}
tbody tr {
  height: 48px ;
}
tbody tr:hover {
  background: #f5f7fa;
}
th {
  padding: 12px 0;
}
td {
  padding-left: 10px;
  padding-right: 10px;
}